<div class="profile-header" >

  <div class="profile-header-content" >

    <div class="row" >

      <div class="col-sm-2" >
        <span class="image" ><%= image_tag "guy.jpg", width: "120px;", height: "120px;" %></span>
      </div>

      <div class="col-sm-10" >
        <h1>Jeremy Oats Kalaknick</h1>
        <h4>About me goes Here  Goes Here it Goes Here</h4>

  </div>

  
    <div class="col-sm-12 profile-nav" >
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a class="left" data-toggle="tab" href="#home"><span class="count" >2</span><br>Upvoted</a></li>
      <li><a class="right" data-toggle="tab" href="#menu1"> <span class="count" >2</span><br>Submitted</a></li>
    </ul>
      
    </div>
        
    </div>
    

  </div>
  
</div>


<div class="profile-body" >
  <div class="profile-body-content" >


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <% 5.times do %>
    <div class="link-item" >
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-1">
            <a class="upvote" href="#" >
              <span class="upvote-button" >
              <span class="glyphicon glyphicon-chevron-up" ></span>
              </span> 
              <span class="upvote-count" >32</span>
            </a>
        </div>
        <div class="col-xs-7">
          <a class="link-item-title" href="">Title will go here</a>
          <span class="link-item-tagline" >Tagline Will Sureley Go Here</span>
        </div>
        <div class="col-xs-1"><span class="image" ><%= image_tag "guy.jpg", width: "40px;", height: "40px;" %></span></div>
        <div class="col-xs-2" > <span class="comment-count" ><span class=" glyphicon glyphicon-comment" > </span> 8</span> </div>
        <!-- <div class="col-xs-1"> <span class="comment-count" >8</span> </div> -->
       
      </div>
      
    </div>
    <% end %>
  </div>
  <div id="menu1" class="tab-pane fade">
    <% 5.times do %>
    <div class="link-item" >
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-1">
            <a class="upvote" href="#" >
              <span class="upvote-button" >
              <span class="glyphicon glyphicon-chevron-up" ></span>
              </span> 
              <span class="upvote-count" >32</span>
            </a>
        </div>
        <div class="col-xs-7">
          <a class="link-item-title" href="">Title will go here</a>
          <span class="link-item-tagline" >Tagline Will Sureley Go Here</span>
        </div>
        <div class="col-xs-1"><span class="image" ><%= image_tag "guy.jpg", width: "40px;", height: "40px;" %></span></div>
        <div class="col-xs-2" > <span class="comment-count" ><span class=" glyphicon glyphicon-comment" > </span> 8</span> </div>
        <!-- <div class="col-xs-1"> <span class="comment-count" >8</span> </div> -->
       
      </div>
      
    </div>
    <% end %>
  </div>
  
</div>
    
  </div>
  
</div>
